/* frame */
@import "./frame.css";
/* frame */

/* main */
main.main{
    /* border: 1px solid red; */
    width: 1200px;
    height: auto;
    margin: auto;
}
/* 上面標題 */
div.title_div{
    display: flex;
    justify-content: space-around;
}
div.title_div_1{
    width: 400px;
}
img.title_div_img{
    width: 100%;
}
div.titleDiv2{
    font-family: UDDigiKyokashoN_R;
    margin-bottom: 2%;
}
div.title_div_2_title{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 2%;
}
div.title_div_2_text{
    font-family: UDDigiKyokashoN_R;
    margin-bottom: 12%;
}
div.title_div_2_text a{
    text-decoration: none;
}
div.title_div_2_progress{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: bolder;
    background-color: #22BC46;
}
/* 上面標題 */
/* 付款區塊 */
/* 商品區塊 */
div.div{
    margin-top: 3%;
}
div.product_project_select{
    width: 300px;
    height: 530px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto;
    background-color: #00336627;
    border-radius: 15px;
    margin-bottom: 3%;

    transition: 0.3s ease-in-out;
}
div.product_project_select:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
div.product_project_img{
    margin: auto;
    width: 280px;
}
img.product_project_1_img{
    width: 100%;
}
div.product_info{
    width: 270px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 250px 60px;
    margin: auto;
    font-family: UDDigiKyokashoN_R;
}
div.price{
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 5%;
}
div.product_content{
    margin-bottom: 10%;
}
div.delivery{
    display: flex;
    justify-content: space-between;
}
div.lineHeight{
    line-height: 1.3;
}
ul.product_content_ul{
    width: 230px;
    margin: auto;
    list-style-type: square;
}
input.back{
    width: 100%;
    height: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
    border: 2px solid #003366;
    border-radius: 5px;
    background-color: #00336627;
    font-family: UDDigiKyokashoN_R;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #003366;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
input.back:hover{
    background-color: #003366;
    color: white;
}
/* 商品區塊 */
/* 資料輸入 */
section.section_payment{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
div.payment_form{
    /* border: 1px solid red; */
    width: 500px;
    font-family: UDDigiKyokashoN_R;
}
form.form_payment{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 150px 100px 100px 100px 100px 100px 50px;
    margin-bottom: 25px;
    font-family: UDDigiKyokashoN_R;
}
div.pay_method{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 55px 55px;
}
p.center{
    display: flex;
    align-items: center;
}
label.credit_card, label.atm{
    background-color: #00336627;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}
.br{
    border-radius: 5px;
}
.bo{
    border: 2px solid #00336627;
    background-color: #00336627;
}
.bo:focus{
    border: 2px solid #003366;
}
.fs{
    font-size: 20px;
}

div.pay_amount{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px;
}
div.pay_amount p.pay_text_2{
    display: flex;
    align-items: center;
    font-size: 16px;
}
div.same{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px;
}
div.country select{
    width: 500px;
}
div.address{
    display: grid;
    grid-template-columns: 400px 100px;
    grid-template-rows: 40px 40px;
}
input.locate{
    width: 390px;
}
input.locate_number{
    width: 100px;
}
input.ff{
    border: 2px solid #003366;
    font-family: UDDigiKyokashoN_R;
    font-weight: bolder;
    font-size: 1.2rem;
    color: #003366;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
input.ff:hover{
    background-color: #003366;
    color: white;
}
/* 資料輸入 */
/* 付款區塊 */
/* main */
/* RWD */
@media screen and (min-width: 1200px){
    
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    main.main{
        width: auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    main.main{
        width: auto;
    }
    section.section_payment{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    main.main{
        width: auto;
    }
    div.title_div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px;
    }
    div.title_div_1{
        display: flex;
        align-items: center;
        justify-self: center;
    }
    section.section_payment{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
@media screen and (max-width: 575px){
    main.main{
        width: 100%;
    }
    div.title_div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px;
    }
    div.title_div_1{
        display: flex;
        align-items: center;
        justify-self: center;
    }
    section.section_payment{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    div.payment_form{
        width: 95%;
    }
    form.form_payment{
        width: 95%;
        display: grid;
        grid-template-columns: auto;
    }
    div.pay_method, div.pay_amount, div.country,div.address, div.recipient, div.phone, div.remarks, input.ff{
        width: 90%;
        justify-self: center;
    }
    p.pay_text_2{
        margin-top: 5%;
    }
    div.country select{
        width: 100%;
    }
    div.address{
        display: grid;
        grid-template-columns: 260px 80px;
        grid-template-rows: 40px 40px;
    }
    input.lc{
        width: 95%;
    }
    input.ln{
        width: 100%;
    }
    p.mn{
        justify-content: center;
    }
}
/* RWD */